<h2><%= t(:sign_up) %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= error_messages_for :user %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= label :user, :password %><br />
  <%= f.password_field :password %></p>

  <p><%= label :user, :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t(:sign_up) %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
