<div id="comment-<%= comment.id %>" class="comment">
  <div class="meta">
    <div class="who">Автор: <b><%= comment.user.fullname %></b>, <%= comment.created_at.short_date %></div>
    <% if comment.score > 0 %>
      <div class="stars">Оценка: <%= show_stars(comment.score) %></div>
    <% end %>
  </div>
  <div class="body">
    <%= comment.content %>
  </div>
  <% if is_admin? %>
    <p><%= link_to "Edit", edit_admin_comment_path(comment) %> <%= link_to "Delete", admin_comment_path(comment), :method => :delete, :confirm => "Are you sure?" %></p>
  <% end %>
</div>
