<% admin_title('Orders') %>

<table width="100%">
  <tr>
    <th>#</th>
    <th>User</th>
    <th>Date</th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user.email %></td>
      <td><%= order.created_at.short %></td>
      <td><%= link_to 'View', admin_order_path(order) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @orders %>
