<table width="100%">
  <tr>
    <th width="2%">#</th>
    <th><%= t(:title) %></th>
    <th width="15%"><%= t(:quantity) %></th>
    <th width="15%"><%= t(:unit_price) %></th>
    <th><%= t(:price) %></th>
  </tr>
  <% @order.order_lines.each do |ol| %>
    <tr>
      <% product = ol.product %>
      <% if ol.product.is_variation? %>
        <% product = product.product %>
      <% end %>
      <td><%= ol.product.id %></td>
      <td><%= link_to h(product.title), product %>
        <% if ol.product.kind_of?(Mixture) %>
          <% ol.product.mixture_products.each do |p| %>
            <% p = p.product %>
            <br /><%= h(p.variation_crumb) %>
          <% end %>
        <% elsif ol.product.is_variation? %>
          <br /><%= h(ol.product.title) %>
        <% end %>
      </td>
      <td><%= ol.quantity %></td>
      <td><%= ol.product.price %></td>
      <td><%= ol.price %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3"></td>
    <td><%= t(:delivery) %> (<%= link_to '?', delivery_home_path %>):</td>
    <td><%= @order.delivery_cost %></td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td><%= t(:total) %>:</td>
    <td><%= @order.total_with_delivery %></td>
  </tr>
</table>
