<% title(t(:orders_history)) %>

<div id="orders">
  <% if @orders.present? %>
    <table class="order-list" width="100%">
      <tr>
        <th>#</th>
        <th><%= t(:order_date) %></th>
        <th><%= t(:status) %></th>
        <th><%= t(:items) %></th>
        <th><%= t(:total) %></th>
      </tr>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to order.id, order %></td>
          <td><%= order.created_at.short %></td>
          <td><%= order_status(order) %></td>
          <td>
            <ul>
              <% order.products.each do |p| %>
                <% product = p %>
                <% if product.is_variation? %>
                  <% product = product.product %>
                <% end %>
                <li>
                  <%= link_to h(product.title), order %>
                  <% if p.is_variation? %>
                    (<%= h(p.title) %>)
                  <% end %>
                </li>
              <% end %>
            </ul>
            <%= link_to t(:more) + '...', order %>
          </td>
          <td><%= order.total_with_delivery %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= t(:you_do_not_have_any_orders) %>.
  <% end %>
</div>
