<% title(t(:new_order)) %>

<div id="cart-page">
  <%= error_messages_for :order %>

  <%= render :partial => "order_lines" %>

  <%= form_for @order do |f| %>
    <%= hidden_field_tag :dont_submit, nil %>
    <% unless Order.delivery_off? %>
      <% render :partial => "delivery", :locals => {:f => f} %>
    <% end %>
    <p><%= label :order, :notes %>:<br />
      <%= f.text_area :notes, :rows => 5, :style => "width: 100%" %></p>

    <p><%= submit_tag t(:submit), :class => "button" %> <%= link_to t(:continue_shopping), products_path %></p>
  <% end %>
</div>

