<% title(t(:order_num, :num => @order.id)) %>

<div id="cart-page">
  <ul>
    <li><%= t(:order_date) %>: <%= @order.created_at.short %></li>
    <li><%= t(:status) %>: <%= order_status(@order) %></li>
  </ul>
  <%= render :partial => "order_lines" %>

  <% if @order.include_delivery? && (address = @order.order_address) %>
    <div id="delivery-address">
      <h3><%= t(:delivery_address) %></h3>
      <%= h(address.street) %><br />
      <%= h(address.phone_number) %>
      <% if address.phone_number2.present? %>
        <br /><%= h(address.phone_number2) %>
      <% end %>
    </div>
  <% end %>

  <% if @order.notes.present? %>
    <div id="notes">
      <h3><%= t(:notes) %></h3>
      <%= h(@order.notes) %>
    </div>
  <% end %>
</div>
