<%= form_for @cart, :url => cart_path, :html => {:method => :put} do |f| %>
  <%= f.hidden_field :_replace_order_lines, :value => true %>
  <table width="100%">
    <tr>
      <th width="2%">#</th>
      <th><%= t(:title) %></th>
      <th width="15%"><%= t(:quantity) %></th>
      <th width="15%"><%= t(:unit_price) %></th>
      <th><%= t(:price) %></th>
    </tr>
    <% position = 0 %>
    <%= f.fields_for :order_lines do |ff| %>
      <tr>
        <% ol = ff.object %>

        <% product = ol.product %>
        <% if ol.product.is_variation? %>
          <% product = product.product %>
        <% end %>
        <td>
          <% if product.is_mixture? %>
            <% ol.product_ids.each do |id| %>
              <%= ff.hidden_field :product_ids, :name => "order[order_lines_attributes][#{position}][product_ids][]", :value => id, :id => nil %>
            <% end %>
          <% else %>
            <%= ff.hidden_field :product_id %>
          <% end %>

          <%= ol.product.id %>
        </td>
        <td><%= link_to h(product.title), product_path(product) %>
          <% if product.is_mixture? %>
            <% ol.products.each do |p| %>
              <br /><%= h(p.variation_crumb) %>
            <% end %>
          <% elsif ol.product.is_variation? %>
            <br /><%= h(ol.product.title) %>
          <% end %>
        </td>
        <td>
          <%= ff.text_field :quantity, :size => 4 %><br />
          <small>(<%= link_to t(:delete), delete_cart_path(:position => position) %>)</small>
        </td>
        <td><%= local_price(ol.unit_price) %></td>
        <td><%= local_price(ol.price) %></td>
      </tr>
      <% position += 1 %>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td><%= t(:delivery) %> (<%= link_to '?', delivery_home_path %>):</td>
      <td><%= @cart.delivery_cost %></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td><%= t(:total) %>:</td>
      <td><%= @cart.total_with_delivery %></td>
    </tr>
  </table>
  <p><%= submit_tag t(:update_quantity) %></p>
<% end %>
