
<%= error_messages_for :product %>

<div id="product-form">
  <label for="product_title">Title</label><br />
  <%= f.text_field :title, :style => "width: 100%" %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description, :size => "80x20", :style => "width: 100%" %><br />
  <%= f.label :summary %> <small>(Will show description on the /products/index if you leave the summary blank)</small><br />
  <%= f.text_area :summary, :size => "80x5", :style => "width: 100%" %>
  <label for="product_tag_list">Tags</label><br />
  <%= f.text_field :tag_list, :style => "width: 100%" %><br />
  <label for="product_price">Price</label><br />
  <%= f.text_field :price, :size => 5 %><br />
  <label for="product_quantity">Quantity</label><br />
  <%= f.text_field :quantity, :size => 5 %><br />
  <label for="product_photo">Photo</label><br />
  <%= f.file_field :photo %><br />
  <%= label :product, :position %><br />
  <%= f.text_field :position, :size => 5 %>

  <p><%= label :product, :is_discontinued %>?
    <%= f.check_box :is_discontinued %></p>

  <p><%= label :product, :is_producible %>?
    <%= f.check_box :is_producible %> <small>(Hide quantity)</small></p>

  <p><%= label :product, :is_mixture %>?
    <%= f.check_box :is_mixture %> <small>(Show Mixture Constructor view)</small></p>

  <h3>Assets</h3>
  <ul class="asset-list">
    <%= f.fields_for :assets do |ff| %>
      <% asset = ff.object %>
      <li>
        <% if asset.new_record? %>
          <%= ff.file_field :blob %><br />
        <% else %>
          <div class="asset">
            <%= link_to image_tag(asset.blob.url(:thumb)), asset.blob.url(:original) %>
            Delete? <%= ff.check_box :_destroy %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3>Variations</h3>
  <ul class="variation-list">
    <%= f.fields_for :variations do |ff| %>
      <% product = ff.object %>
      <li>
        Title: <%= ff.text_field :title %> Price: <%= ff.text_field :price, :size => 4 %> Quantity: <%= ff.text_field :quantity, :size => 4 %>
        <p><small>
            <% unless product.new_record? %>
              Delete? <%= ff.check_box :_destroy %>
              <%= link_to "Edit", edit_product_path(product) %>
            <% end %>
          </small></p>
        <% if product.new_record? %>
          <%= ff.hidden_field :product_id, :value => 0 %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
