    <div class="variations">
      <table width="100%">
        <tr>
          <th><%= t(:title) %></th>
          <% if @product.price_varies? %>
            <th><%= t(:price) %></th>
          <% end %>
          <% unless @product.is_producible? %>
            <th><%= t(:available) %></th>
          <% end %>
          <th><%= t(:quantity) %></th>
        </tr>
        <% @product.sorted_variations.each do |product| %>
          <tr>
            <td><%= h(product.title) %></td>
            <% if product.in_stock? || @product.is_producible? %>
              <% if @product.price_varies? %>
                <td><%= product_price(product) %></td>
              <% end %>
              <% unless @product.is_producible? %>
                <td><%= product.quantity %></td>
              <% end %>
              <td>
                <%= f.fields_for :order_lines, OrderLine.new do |ff| %>
                  <%= ff.hidden_field :product_id, :value => product.id %>
                  <%= ff.text_field :quantity, :size => 4, :value => 0 %>
                  &nbsp;<span class="add"></span><span class="remove"></span>
                <% end %>
              </td>
            <% else %>
              <td colspan="3">
                <%= t(:out_of_stock) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <div id="variations-quantity-notice" class="notice" style="display: none;"><%= t(:please_select_quantity) %>.</div>
      <%= submit_tag t(:add_to_cart), :class => "button cart-add", :onclick => 'return verifyVariationsQuantity();' %>
    </div>

    <%= javascript_tag "bindAddsRemoves()" %>
