<% if @products.present? && tag = params[:tag] %>
  <%= title h(tag) %>
<% end %>

<% if is_admin? %>
  <%= link_to "Add a new product", new_product_path %>
<% end %>

<div id="product-list">
  <% @products.each do |product| %>
    <div class="product">
      <div class="photo"><%= link_to image_tag(product.photo.url(:thumb)), product %></div>
      <h3><%= link_to h(product.title), product %></h3>
      <%= textilize(product.summary) %> <%= link_to t(:more), product %>
      <div class="cut"></div>
    </div>
  <% end %>
</div>
<%= paginate @products %>

