<% title(h(@product.title), false) %>

<div id="product-page">
  <div class="photo"><%= link_to image_tag(@product.photo.url(:thumb)), @product.photo.url(:original), :target => "blank" %></div>
  <h2><%= yield(:title) %></h2>
  <%= form_for @cart, :url => cart_path, :html => {:method => :put} do |f| %>
  <ul>
    <% if is_admin? %>
      <li><%= link_to "Edit", edit_product_path(@product) %></li>
    <% end %>
    <li><%= t(:similar_products) %>: <%= tags_links(@product) %></li>
    <li class="price"><%= t(:price) %>: <%= @product.price %></li>
    <% unless @product.has_variations? %>
      <% if @product.in_stock? %>
        <li><%= t(:available) %>: <%= @product.quantity %></li>
        <li>
          <%= f.fields_for :order_lines, OrderLine.new do |ff| %>
            <%= ff.hidden_field :product_id, :value => @product.id %>
            <%= t(:quantity) %>: <%= ff.text_field :quantity, :size => 4, :value => 1 %>
            <%= submit_tag t(:add_to_cart), :class => "button cart-add" %>
          <% end %>
        </li>
      <% else %>
        <%= t(:out_of_stock) %>. <%= t(:let_us_know_if_you_want_the_product) %>.
      <% end %>
    <% end %>
  </ul>
  <div class="cut"></div>
  <% if @product.has_variations? %>
    <div class="variations">
      <table width="100%">
        <tr>
          <th><%= t(:title) %></th>
          <th><%= t(:available) %></th>
          <th><%= t(:quantity) %></th>
        </tr>
        <% @product.variations.each do |product| %>
          <tr>
            <td><%= h(product.title) %></td>
            <% if product.in_stock? %>
              <td><%= product.quantity %></td>
              <td>
                <%= f.fields_for :order_lines, OrderLine.new do |ff| %>
                  <%= ff.hidden_field :product_id, :value => product.id %>
                  <%= ff.text_field :quantity, :size => 4, :value => 0 %>
                <% end %>
              </td>
            <% else %>
              <td colspan="2">
                <%= t(:out_of_stock) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <%= submit_tag t(:add_to_cart), :class => "button cart-add" %>
    </div>
  <% end %>

  <div class="description">
    <h3><%= t(:product_description) %></h3>
    <%= textilize(@product.description) %>
  </div>
  <% end %>
</div>

