<% title(h(@product.title), false) %>

<div id="product-page">
  <div class="photo"><%= link_to image_tag(@product.photo.url(:thumb)), @product.photo.url(:large), :rel => 'lightbox[photos]' %></div>
  <h2><%= yield(:title) %></h2>
  <%= form_for @cart, :url => cart_path, :html => {:method => :put} do |f| %>
  <ul>
    <% if is_admin? || @product.product %>
      <li>
        <%= link_to_if is_admin?, "Edit", edit_product_path(@product) %>
        <% if @product.product %>
          <%= link_to h(@product.root.title), @product.root %>
        <% end %>
      </li>
    <% end %>
    <% if @product.tags.present? %>
      <li><%= t(:similar_products) %>: <%= tags_links(@product) %></li>
    <% end %>
    <% unless @product.price_varies? %>
      <li class="price"><%= t(:price) %>: <%= product_price(@product) %></li>
    <% end %>
    <% unless @product.has_variations? %>
      <% if @product.in_stock? %>
        <% unless @product.is_producible? %>
          <li><%= t(:available) %>: <%= @product.quantity %></li>
        <% end %>
        <li>
          <%= f.fields_for :order_lines, OrderLine.new do |ff| %>
            <%= ff.hidden_field :product_id, :value => @product.id %>
            <%= t(:quantity) %>: <%= ff.text_field :quantity, :size => 4, :value => 1 %>
            <%= submit_tag t(:add_to_cart), :class => "button cart-add" %>
          <% end %>
        </li>
      <% else %>
        <%= t(:out_of_stock) %>. <%= t(:let_us_know_if_you_want_the_product) %>.
      <% end %>
    <% end %>
  </ul>
  <div class="cut"></div>

  <% if @product.assets.present? %>
    <div class="assets">
      <% @product.assets.each do |asset| %>
        <div class="photo"><%= link_to image_tag(asset.blob.url(:thumb)), asset.blob.url(:large), :rel => "lightbox[photos]" %></div>
      <% end %>
    </div>
  <% end %>
  <div class="cut"></div>

  <% if @product.has_variations? %>
    <% if @product.is_mixture? %>
      <%= render :partial => "mixture", :locals => {:f => f} %>
    <% else %>
      <%= render :partial => "variations", :locals => {:f => f} %>
    <% end %>
  <% end %>

  <div class="description">
    <h3 class="slight-visiable"><%= t(:product_description) %></h3>
    <%= textilize(@product.description) %>
  </div>
  <% end # /form %>

  <% if @product.is_commentable? %>
    <%= render :partial => "comments" %>
  <% end %>
</div>

