<% title(h(@product.title)) %>

<div id="product-page">
  <div class="photo"><%= link_to image_tag(@product.photo.url(:large)), @product %></div>
  <p><%= h(@product.description) %></p>

  Price: <%= @product.price %><br />
  Quantity: <%= @product.quantity %><br />
  Tags: <%= h(@product.tag_list) %>
</div>

<% if is_admin? %>
  <%= link_to "Edit", edit_product_path(@product) %>
<% end %>
