<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>ecigs.md - <%= content_for?(:title) ? yield(:title) : "электронные сигареты, жидкость в Молдове" %></title>
  <%= stylesheet_link_tag :all, :cache => "/system/all" %>
  <%= javascript_include_tag :all, :cache => "/system/all" %>
  <%= csrf_meta_tag %>

  <!-- <link rel="icon" href="/images/favicon.png" sizes="32x32" />
  <link rel="shortcut icon" href="/images/favicon.ico" /> -->

  <%= render :partial => "/layouts/google_analytics" %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
	<h1><a href="/">ecigs.md</a></h1>
	<h2><a href="/">интернет магазин электронных сигарет в Молдове</a></h2>
      </div>
      <!-- end div#logo -->
      <div id="menu">
	<ul>
          <%= tabs %>
	</ul>
        <div style="clear: both;"></div>

        <div id="user-links">
          <%= link_to t(:cart), cart_path, :class => "cart" %>&nbsp;
          <% if user_signed_in? %>
            <%= link_to t(:orders_history), orders_path %>&nbsp;
            <%= t(:signed_in_as) %> <%= current_user.display_name %>.
            <%= link_to t(:sign_out), destroy_user_session_path %>
          <% else %>
            <%= t(:is_new_user) %> <%= link_to t(:sign_up), new_user_registration_path %> <%= t(:or) %> <%= link_to t(:sign_in), new_user_session_path %>
          <% end %>
        </div>
      </div>
      <!-- end div#menu -->
    </div>
    <!-- end div#header -->
    <div id="page">
      <div id="page-bgtop">
        <% if content_for?(:sidebar) %>
          <div id="sidebar">
            <%= yield(:sidebar) %>
          </div>
        <% end %>
	<!-- end div#sidebar -->

	<div id="content">
          <% if is_admin? %>
            <div class="admin-tabs">
              <%= link_to "Add product", new_product_path %>
              <%= link_to "Disco. products", :discontinued => true %>
              <%= link_to "Wiki", wiki_pages_path %>
              <%= link_to "Add wiki", new_wiki_page_path %>
              <%= link_to "Orders", admin_orders_path %>
              <%= link_to "Comments", admin_comments_path %>
            </div>
            <div class="cut"></div>
          <% end %>

          <% flash.each do |name, msg| %>
            <p class="<%= name %>"><%= h(msg) %></p>
          <% end %>

          <% if @show_title && content_for?(:title) %>
            <h2 id="page-title"><%= yield(:title) %></h2>
          <% end %>

          <%= yield %>
	</div>
	<!-- end div#content -->
        <div class="cut"></div>
      </div>
    </div>
    <!-- end div#page -->
    <div id="footer">
      <p>Электронные сигареты в Молдове.</p>
      <p><strong class="warning">ACHTUNG!</strong> Вам должно быть 18 лет или больше.</p>
      <p id="legal">Originally designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
    <!-- end div#footer -->
  </div>
  <!-- end div#wrapper -->
</body>
</html>
